{% extends "basic_layout.njk" %}
{% block content %}
{% include  "partials/header.njk"%}
<main>
    {% include  "partials/nav.njk"%}
   
          
     <!-- streams-review start -->
    <div class="streams-review mt-md-12 ">
        <div class="container containe-lg">
            <h1 class="fs-3 fw-bold">直播回顧</h1>
            <div class="streams-review-container mt-md-6">
               <div class="row">
                   <div class="col-md-5 profolio">
                     <h4 class="fs-4 fw-bold text-white">開幕對談 | 藝術展演巡禮</h4>
                     <img src="{{image_directory}}head/people.png" alt="大神" class="img img-head mt-8">
                     <p class="fs-6 lh-base fw-bolder text-white mt-3">臺北現代聯合總監｜Ken Hsu</p>
                     <p class="fs-6 lh-base text-white mt-2">獨家由藝術家、策展人、畫廊總監帶您欣賞台北藝術特展，感受雕塑、展演及當代日常文化之間微妙的關係。
                     </p>
                     <button class="btn btn-short btn-warning mt-4">點此觀看</button>
                   </div>
               </div>

            </div>
        </div>
    </div>
    <!-- streams-review end -->
    <!-- gallery start -->
{% include  "partials/gallery.njk"%}
    <!-- gallery end -->
</main>
{% include  "partials/footer.njk"%}
{% endblock %}
