.jumbotron-footer{
   background-image: url("../../images/jumbotron/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height: 400px;
   width: 100%;
}

@include media-mobile{
    .slogan>h5{
        width: 100%;
    }
}
