header{
    padding: 1.75rem 0 1.75rem 0;

   ul{
       margin-left: 4%;
   }
}

h5{
    line-height:1.5rem;
}
span.hamberger{
    background: url(../../images/icon/confirmation_number_black_24dp.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}
