.btn-long{
    @include button-size(0.625rem,3rem,1rem, $btn-border-radius);
}

.btn-short{
    @include button-size(0.625rem,2.375rem,1rem, $btn-border-radius);
}

.btn-transparent{
    border: $white 1px solid;
    &:hover{
        border: $white 1px solid;
        background-color: rgba(255,255,255,0.1);
    }
}

.btn-transparent-secondary{
    border: $secondary 1px solid;
    color:$secondary;
    &:hover{
        border: $secondary 1px solid;
        color:$secondary;
        background-color: rgba(255,255,255,0.8);
    }
}

.btn-form{
    font-size: 1rem;
    line-height: 1.5rem;
    padding:0.75rem 3.25rem;

}

.btn-horizontal-card{
    font-size: 1rem;
    line-height: 1.5rem;
    padding:0.75rem 1rem;
}