<footer class="mt-md-12">
    <div class="jumbotron-footer">
        <div class="footer-content  d-flex align-items-end">
        <div class="footer-container container container-lg flex align-items-end">
            <div class="row">
                <div class="col-sm-4 col-md-3 ">
                    <h3 class="fs-3 text-white lh-base mb-6 mb-md-2">想收到最新消息嗎？<br> 快訂閱我們！</h3>
                </div>
            </div>
            <div class="flex-md-row">
                <div class="col-md-4">
                    <div class="input-group mb-10">
                        <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="輸入您的電子信箱"    aria-describedby="button-addon2">
                        <button class="btn btn-warning btn-form" type="button" id="button-addon2">訂閱</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-slogan py-4 py-md-7 d-flex justify-content-between container container-lg">
        <div class="slogan d-flex flex-column  flex-md-row align-items-center justify-content-start">
            <h5 class="fs-5 text-start text-dark me-md-4">EXHIBINECTION</h5>
            <p class="text-dark text-start">© 2020. All Rights Reserved.</p>
        </div>
        <ul class="sign d-flex flex-row">
            <li><a href="#" class="lh-base align-items-end text-text-basic me-8 d-none d-md-block">Sign in</a></li>
            <li><a href="#" class="lh-base align-items-end text-text-basic me-8 d-none d-md-block">Sign up</a></li>
        </ul>
    </div>
</footer>