<div class="jumbotron position-relative">
    <div class="container container-lg">
        <div class="row show-border">
            <div class="col-md-4 offset-md-1 position-absolute top-33 top-sm-53">
                <h3 class="fs-3 lh-base text-white">台北當代藝術展</h3>
                <h6 class="fs-6 lh-base text-white mb-4">01 JUN - 31 OCT</h6>
                <div class="buttons d-flex justify-content-between justify-content-sm-start">
                    <button type="button" class="btn btn-long btn-warning text-nowrap">購買票券</button>
                    <button type="button" class="btn btn-long btn-transparent ms-2 text-nowrap">詳細資訊</button>
                </div>
             </div>
         </div>
    </div>
</div>